.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.Variables-header {
  text-align: center;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./assets/background.png);
}

.Home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.Home .title {
  font-family: 'VT323', monospace;
  font-size: calc(30px + 2vmin);
  color: #000;
}

.Home a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 1.5em;
  -webkit-text-stroke: 1px black;
}

.Lessons {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.Lessons .title {
  font-size: calc(30px + 2vmin);
  color: #000;
}

link:hover {
  background-color: #FFB5EA;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}
